<div id="footer">
	
	<div id="footer-img-container">
		<!-- <img id="footer-img" src="img/visa_mastercard.png"/> -->
		<a href="https://www.facebook.com/willlllllllllllllllllllllllll/"><img class="social-img" src="/img/facebook.svg"></a>

		<a href="https://www.instagram.com/abrahamlincoln420/"><img class="social-img" src="/img/instagram.svg"></a>
	</div>

	<script>
		
	</script>
</div>