<!DOCTYPE html>
<html>

<head>
	<title>Daddy Good Times</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery-ui.js"></script>
	<script src="js/model.js"></script>
	<script src="js/util.js"></script>
	<script src="js/index.js"></script>
	<link rel="icon" type="image/x-icon" href="/img/favicon.ico">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<link rel="stylesheet" type="text/css" href="css/skeleton.css">
	<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
	<script src="https://unpkg.com/react@17/umd/react.development.js"></script>
	<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link
		href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&family=Quicksand:wght@300;400;500;600;700&family=Raleway:wght@100;200;300&display=swap"
		rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700,800&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap"
		rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick.css" />
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick-theme.css" />
</head>

<body>
	<!-- <section id="main" class="parallax">
		<div id="bandText">Daddy Good Times</div>
		<div id="bookingText">booking@daddygoodtimes.com</div>
		<div id="mainScroller">rally long text</div>
	</section> -->

	<section id="main" class="parallax"></section>
	<div id="bandText">Daddy Good Times</div>
	<div id="bookingText">booking@daddygoodtimes.com</div>

	<!-- <video controls width="100%">
			<source src="path/to/your/video.mp4" type="video/mp4">
			Your browser does not support the video tag.
		</video> -->
	<section id="mainScroller">

		<div id="showsContainer">
			<div id="upcomingShowsText">Upcoming Shows:</div>
			<div class="showItem">
				<div class="showName">Daddy Good Times @ Gold Hill General Store</div>
				<div class="showLocation">Gold Hill, Colorado</div>
				<div class="showDate">Febraury 22, 2025</div>
			</div>

			<div class="showItem"></div>
				<div class="showName">Daddy Good Times @ Goosetown Station</div>
				<div class="showLocation">Golden, Colorado</div>
				<div class="showDate">April 4, 2025</div>
			</div>

		</div>

		<div id="footer">Have a nice day :)</div>

	</section>


	</section>
</body>


</html>