<!DOCTYPE html>
<html>

<head>
	<title>Daddy Good Times</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery-ui.js"></script>
	<script src="js/model.js"></script>
	<script src="js/util.js"></script>
	<script src="js/index.js"></script>
	<link rel="icon" type="image/x-icon" href="/img/favicon.ico">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<link rel="stylesheet" type="text/css" href="css/skeleton.css">
	<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
	<script src="https://unpkg.com/react@17/umd/react.development.js"></script>
	<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
	<link rel="preconnect" href="https://fonts.gstatic.com">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap"
		rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick.css" />
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick-theme.css" />
</head>

<body>
	<!-- <section id="main" class="parallax">
		<div id="bandText">Daddy Good Times</div>
		<div id="bookingText">booking@daddygoodtimes.com</div>
		<div id="mainScroller">rally long text</div>
	</section> -->

	<section id="main" class="parallax"></section>
	<div id="socialsContainer">
		<div class="socialIcon">
			<!-- <img class="socialIconImg" src="img/fb.svg"/> -->

			<a href="https://instagram.com/daddygoodtimesband"><img class="socialIconImg" src="img/facebook.svg" /></a>
			<a href="https://instagram.com/daddygoodtimesband"><img class="socialIconImg" src="img/instagram.svg" /></a>
		</div>
	</div>
	<!-- <div id="bandText">Daddy Good Times</div> -->
	<div id="logoPlaceholder"><img id="logoPlaceholderImg" src="img/logo-placeholder.png"></div>
	<div id="bookingText">booking@daddygoodtimes.com</div>

	<!-- <video controls width="100%">
			<source src="path/to/your/video.mp4" type="video/mp4">
			Your browser does not support the video tag.
		</video> -->
	<section id="mainScroller">

		<div id="showsParentContainer">
			<div id="toggleContainer">
				<div id="upcomingShowsText" class="showsToggleSelected">Upcoming Events</div>
				<div id="archivedShowsText">Past Events</div>
			</div>

			<div id="showsContainer">
				<div id="upcomingShowsContainer">
					<div class="showItem">
						<div class="showName">Daddy Good Times @ Gold Hill General Store</div>
						<div class="showLocation">Gold Hill, Colorado</div>
						<div class="showDate">February 22, 2025</div>
					</div>

					<div class="showItem">
						<div class="showName">Daddy Good Times @ Goosetown Station</div>
						<div class="showLocation">Golden, Colorado</div>
						<div class="showDate">April 4, 2025</div>
					</div>

					<div class="showItem">
						<div class="showName">Velvet Banjo Pt II. Return of the Daddies</div>
						<div class="showLocation">Denver, Colorado</div>
						<div class="showDate">June 14, 2025</div>
					</div>

					<div class="showItem">
						<div class="showName">Rockygrass Band Contest</div>
						<div class="showLocation">Lyons, Colorado</div>
						<div class="showDate">July 26, 2025</div>
					</div>

				</div>

				<div id="archivedShowsContainer">
					<div class="showItem">
						<div class="showName">Daddy Good Times @ Velvet Banjo</div>
						<div class="showLocation">Denver, Colorado</div>
						<div class="showDate">January 16, 2025</div>
					</div>
				</div>
			</div>
		</div>

		<div id="igContainer">


		</div>


		<div id="footer">Have a nice day :)</div>

	</section>


	</section>
	<script async src="//www.instagram.com/embed.js"></script>
</body>


</html>