<!DOCTYPE html>
<html>
<head>
	<title>Willie K | Denver Musician</title>
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery-ui.js"></script>
	<script src="js/model.js"></script>
	<script src="js/util.js"></script>
	<script src="js/index.js"></script>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link rel="stylesheet" type="text/css" href="css/music.css">
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<link rel="stylesheet" type="text/css" href="css/skeleton.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&family=Quicksand:wght@300;400;500;600;700&family=Raleway:wght@100;200;300&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700,800&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick-theme.css"/>
</head>
<body>
	<!-- <%- include('navigation.ejs') %> -->
	<a href="/"><div id="back-tag">HOME</div></a>
	<section id="header-music">
			<div id="logo-music-container">
				<img id="logo-music" src="/img/willy-k-logo.png">
				<img id="logo-music-mobile" src="/img/willy-k-logo-mobile.png">
				<div id="genres">Country &#x2022; Bluegrass &#x2022; Folk &#x2022; Funk &#x2022; Soul &#x2022; Jam </div>
				<div id="subtitle">Here for a Rock n' Rollin', Honky Tonkin' good time! </div>
			</div>

	</section>


	<section>
		<div id="main-section">
			<div id="title">
			
			</div>
			
			

	   <div class="slider">
	   	<div class="slider-img-container"><img class="slider-img" src="/img/carousel/will-4.JPG"></div>
	      <div class="slider-img-container"><img class="slider-img" src="/img/carousel/will-7.jpeg"></div>
	   		      <div class="slider-img-container"><img class="slider-img" src="/img/carousel/will-sc-1.jpeg"></div>
	      <div class="slider-img-container"><img class="slider-img" src="/img/will1.jpeg"></div>
	   	<div class="slider-img-container"><img class="slider-img" src="/img/carousel/cervs-1.JPG"></div>
	      <div class="slider-img-container"><img class="slider-img" src="/img/carousel/will-5.JPG"></div>
	   	<div class="slider-img-container"><img class="slider-img" src="/img/carousel/will-1.JPG"></div>

	   </div>

	   <div id="music-bio">
	   	<p>Music is my life <span id="passion">passion</span>, and I'd love nothing more than to share it with YOU! My journey has taken me from small bars to large festivals and countless places in between, but there's plenty left to check off the bucket list. My dream is to play Red Rocks one day. I'm looking for a hard working, regularly-gigging Colorado based band in need of keys and/or guitar. Feel free to reach out with any gigging opportunities or inquries! </p>
	   </div>

	   <section id="wedding-container">
	   	<div id="wedding-title" class="subheading">The Wedding Singer</div>
	   	<div id="wedding-subtitle">Gauranteed to make you laugh AND cry, or your money back</div>
	   	<div class="wedding-slider">
	   		<img class="wedding-img" src="/img/wedding-1.jpg">
	   		<img class="wedding-img" src="/img/wedding-2.jpg">
	   	</div>
	   	<div id="wedding-desc">
	   		Expert vibe cultivator at your service. As a kid, my piano teacher taught me it's not the note you play, but hoe you play it. That is the same mentality I bring to every wedding gig. 
	   	</div>

	   </section>


	   <section id="booking-container">
	   	<div id="wedding-title" class="subheading">Booking & Contact</div>
	   	<form id="booking-form">
	   		<input class="booking-input" type="text" name="name" hint="Name" placeholder="Name"/>
	   		<input class="booking-input" type="text" name="email" hint="Email" placeholder="Email"/>
		   		<!-- <select id="booking-type" class="booking-input" name="Booking Type">
	   		  <option value="wedding">Gig Type:</option>
				  <option value="wedding">Wedding</option>
				  <option value="other">Other</option>
				</select> -->
				<textarea class="booking-input-large" type="textarea" name="detail" hint="How can I help you?" placeholder="How can I help you?"></textarea>
				<div id="booking-subtitle">For <b>urgent</b> inquiries, feel free to text or call <a href="tel:781-492-4697">781-492-4697</a> or message me via Instagram or Facebook.</div>
				<input id="booking-submit" type="submit" name="Submit">

	   	</form>
	   </section>
		




	
			<!-- <p class="center-quote"><i>"Write this down, Take a little note" </i><br>- <b>George Strait</b></p> -->

		

			<p id="p-bottom" class="center-quote"><span id="keep-the-dream"><i>Keep The Dream Alive!</i></span></p>

		</div> 
	</section>


	<%- include('footer.ejs') %>
	<script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick.min.js"></script>

</body>

<script type="text/javascript">
	var age = whatsMyAgeAgain();
	$("#age").text(age);
</script>

</html>