<div id="logo"><img id="logo" src="img/logo.png"></div>
<div id="menu">
	<div id="music" class="menu-item"><a class="link_no_underline link-text " href="/">HOME</a></div>
	<div id="music" class="menu-item"><a class="link_no_underline link-text " href="/music">MUSIC</a></div>
	<div id="music" class="menu-item"><a class="link_no_underline link-text" href="/about">ABOUT</a></div>
</div>