body,
html {
	font-family: 'Sour Gummy', sans-serif !important;
	color: #493f43;
}

#backgroundImage {
	width: 100%;
}

#bandText {
	font-size: 50px;
	font-weight: bold;
	width: 100%;
	margin: auto;
	text-align: center;
	margin-top: 0px;
}

#bookingText {
	font-size: 21px;
	width: 100%;
	font-weight: 500;
	margin: auto;
	text-align: center;
	margin-top: 0px;
	color: #493f43;
}

#showsParentContainer {
	width: 100%;
	text-align: center;
	margin-top: 50px;
}

#showContainer {}

.showsToggleSelected {
	text-decoration: underline;
	font-weight: 800;
	font-size: 15px;
	color: green;
	cursor: default !important;
}


#upcomingShowsText {
	margin: 10px;
	font-size: 15px;
	display: inline-block;
	cursor: pointer;
}

#archivedShowsText {
	margin: 10px;
	font-size: 15px;
	display: inline-block;
	cursor: pointer;
}

#archivedShowsText:hover,
#upcomingShowsText:hover {
	text-decoration: underline;
}

#archivedShowsContainer {
	display: none;
}

#upcomingShowsContainer {}

#igContainer {
	width: 100%;
	text-align: center;
	margin: auto;
}

.igItem {
	width: 50%;
	overflow: hidden;
}

#logoPlaceholderImg {
	width: 600px;
	margin: auto;
	margin-top: 20px;
}

#logoPlaceholder {
	text-align: center;
	width: 100%;
}

#footer {
	font-size: 10px;

}

.showItem {
	margin-top: 20px;
}

.showName {
	font-weight: 600;
	font-size: 18px;
	color: #493f43;
}

#main {
	background-image: url('/img/photo.jpg');
	background-attachment: fixed;
	background-position: center -120px;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: -400px;
}

#mainScroller {
	height: 500px;
}

.parallax {
	background-image: url('img/photo.jpg');
	height: 100vh;
	/* Full height for the parallax effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

@media (max-width: 600px) {

	body{
		overflow-x: hidden;
	}
	#logoPlaceholderImg {
		width: 90%;
	}

	#main {
		background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 10%, rgba(255, 255, 255, 1) 60%), url('/img/photo.jpg');
		background-attachment: fixed;
		background-position: center -35px;
		background-repeat: no-repeat;
		background-size: contain;
		margin-top: -535px;
	}
}