/*	dark brown:
	#3c2415;

	mid brown: 
	#603913;

	lite brown: 
	#d3b297;

	yellow:
	#ffde17;

*/
*{
	font-family: 'Baloo 2', sans-serif;
}

html, body{
	padding:0;
	margin:0;
	background:white;
}

.heading{
	font-weight: bold;
	font-size:28px;
}

#will-logo{
	height:40px;
}

#denver{
	font-weight: normal;
	font-size:18px;
}

#p-bottom{
	margin-bottom:100px;
}

#title{
}

#subtitle{
	font-size:11px;
}

#music-bio{
	margin-top:25px;
}

#genres{
	color:#265ea5;
	font-weight: bold;
	text-transform: uppercase;
	margin-top:-4px;
}

#wacky, #freelance{
	margin-top:35px;
}

#wacky-img{
	max-height: 120px;
}


.freelance-skill{
	width:calc(25% - 50px);
	display:inline-block;
	float:left;
	padding-right:50px;
}

.skill-title{
	font-weight: bold;
	font-size:20px;
	text-transform: uppercase;
}

.skill-desc{
	font-size:14px;
	margin-top:10px;
}

/*#divider{
	font-size: 22px;
}

#title-heading{
	display:inline-block;
	font-size: 30px;
}*/


#millie{
	height:150px;
	margin-top:20px;
	border-radius: 6px;
}

.millie-slider{
	margin-top:10px;
}

.slider{
	margin-top:10px;
}

.slider-img-container{

}

.slider-img{
/*	width:calc(100% - 10px);*/
max-height:190px;
	margin-right:10px;
	border-radius:6px;
	opacity:0.85;
	object-fit: cover;
}

.slider-img:hover{
	opacity:1;
}

/* main img */
.img-container{
	text-align: center;
}

@media (max-width: 750px) {
	#main-section{
		width:90%;
	}
}

