/*	dark brown:
	#3c2415;

	mid brown: 
	#603913;

	lite brown: 
	#d3b297;

	yellow:
	#ffde17;

*/
*{
	font-family: 'Baloo 2', sans-serif;
}

html, body{
	padding:0;
	margin:0;
	background:white;
}

#p-bottom{
	margin-bottom:100px;
}


#subtitle{
	font-size:18px;
	margin-top:-2px;
	font-style: italic;
	color:#444;
}

#genres{
	color:#265ea5;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 18px;
}

#music-bio{
	margin-top:25px;
}

#logo-music{
	height:70px;
	text-align: center;
	margin:auto;
}

#logo-music-mobile{
	display:none;
}

#logo-music-container{
	margin-top:15px;
	width:100%;
	text-align: center;
}

#wedding-container, #booking-container, #duo-container{
	margin-top:20px;
}

#will1{
	width:50%;
}

.slider{
	margin-top:0px;
}

.slider-img-container{

}

.slider-img{
/*	width:calc(100% - 10px);*/
	max-height: 240px;
	margin-right:10px;
	border-radius:6px;
	opacity:0.85;
}

.slider-img:hover{
	opacity:1;
}

.wedding-img{
	padding:5px;
	border-radius: 4px;
	display:inline-block;
}

/* main img */
.img-container{
	text-align: center;
}

#lonesomepickle-img{
	width:50%;
	max-width:420px;
	border-radius: 6px;
}

#player-container{
	display: inline-block;
	border-radius: 5px;
	padding-bottom: 5px;
}

#player-left{
}

audio::-webkit-media-controls-enclosure {
    border-radius: 2px;
    width:100%;
}

audio{
	margin:10px;
	min-width: 420px;
	max-width: 600px;
}

.controls{
	margin-top: -10px;
}

.lyrics{
	font-size: 10px;
	margin-top:0px;
}

.lyrics:hover, .song-info:hover{
	text-decoration: underline;
	opacity:0.8;
	transition: 0.3s;
}

.song{
	border:2px #eee solid;
	font-size: 16px;
	font-weight: bold;
	margin-bottom:30px;
}

.song-text, .lyrics-text{
	margin-left:12px;
	margin-right:12px;
	margin-top:3px;
	margin-bottom:3px;
	font-weight: normal;
	font-size: 12px;
}

.lyrics-text{
	display:none;
	color:#666;
}

.song-info{
	font-size: 12px;
	display:inline-block;
	font-weight: bold;
	color:#2654a5;
	margin-left:12px;
	cursor: pointer;
}

.song-info-divider{
	font-size: 12px;
	display:inline-block;
	font-weight: bold;
	color:#444;
	margin-left:4px;
	margin-right:4px;
	cursor: pointer;
}

.lyrics{
	display: inline-block;
	font-size: 12px;
	margin-left:1px;
	font-weight: bold;
	cursor: pointer;
}

.song-title{
	vertical-align: top;
	margin-bottom: -5px;
	margin-top:5px;
	margin-left: 12px;
	display: block;
}

#player-right{
	width:0%;
	display:inline-block;
}

textarea{
	margin-bottom:5px !important;
}


@media (max-width: 500px) {

	audio::-webkit-media-controls-enclosure {
	    border-radius: 2px;
	    width:100%;
	}

	audio{
		margin:10px;
		min-width: 0px;
	}

	#lonesomepickle-img{
		max-width: none;
		width:100%;
		height:auto;
	}	

	.song{
		border:2px #eee solid;
		display:inline-block;
		font-size: 16px;
		font-weight: bold;
	}


	#main-section{
		width:90%;
	}


	#subtitle{
		font-size:15px;
		color:#444;
	}

	#genres{
		color:#265ea5;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 15px;
	}

	#music-bio{
		margin-top:25px;
	}

	#logo-music{
		display:none;
		height:auto;
		width:85%;
	}

	#logo-music-mobile{
		display:block;
		width:45%;
		max-width: 300px;
		height:auto;
		text-align: center;
		margin:auto;
		margin-bottom:5px;
	}

	#logo-music-container{
		margin-top:15px;
		width:100%;
		text-align: center;
	}
}

